[client]
#rucio_host = https://dune-rucio.fnal.gov
#auth_host = https://dune-rucio.fnal.gov

rucio_host = https://dune-int-rucio.fnal.gov
auth_host = https://dune-int-rucio.fnal.gov

ca_cert = /etc/grid-security/certificates
account = timm
auth_type = oidc
#auth_token_file_path = /tmp/mynonewline.token
#oidc_scope = storage.read:/  openid profile email org.cilogon.userinfo wlcg.capabilityset:/dunepro wlcg.groups:/dune wlcg.groups:/dune/production
#oidc_audience = https://wlcg.cern.ch/jwt/v1/any
#client_x509_proxy = $X509_USER_PROXY
request_retries = 3
